<!DOCTYPE html>
<html ng-app="pwsonline">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body ng-controller="Ctrl as ctrl">
    <h1>Example of HTML document</h1>
    <p>This will be content of the document</p>

    <table border="1">
        <tr>
            <td><p ng-bind="ctrl.data.firstName"></p></td>
            <td><p ng-bind="ctrl.data.secondName"></p></td>
            <td><p ng-bind="ctrl.data.year"></p></td>
            <td><p ng-bind="ctrl.data.email"></p></td>
            <td><p ng-bind="ctrl.data.adress"></p></td>
        </tr>
    </table>
    <hr>
        <input type="text" ng-model="ctrl.newData.firstName">
        <input type="text" ng-model="ctrl.newData.secondName">
        <input type="number" ng-model="ctrl.newData.year">
        <input type="text" ng-model="ctrl.newData.email">
        <input type="text" ng-model="ctrl.newData.adress">
        <button ng-click="ctrl.send()">Send</button>
    <hr>
    <hr>
        <input type="text" ng-model="ctrl.data.firstName" ng-change="ctrl.change()">
        <input type="text" ng-model="ctrl.data.secondName" ng-change="ctrl.change()">
        <input type="number" ng-model="ctrl.data.year" ng-change="ctrl.change()">
        <input type="text" ng-model="ctrl.data.email" ng-change="ctrl.change()">
        <input type="text" ng-model="ctrl.data.adress" ng-change="ctrl.change()">
    <hr>

    <br>
    <img src="images/donald-trump.jpg" alt="#">



    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>